### <font color=blue> Ques 03: </font>  <font color=red>  Why do some pandas commands end with parentheses, and other commands not? </font>

>**Method** ends with **parenthesis** but **attribute** doesn't.

In [2]:
import pandas as pd

# IMDB - Internet Movie Database (Dataset)
movie_ratings_ds = pd.read_csv('http://bit.ly/imdbratings')
movie_ratings_ds.head(4)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [3]:
# Give some descriptive statistical info about the numerical columns (default) of the dataframe
movie_ratings_ds.describe()

       star_rating    duration
count   979.000000  979.000000
mean      7.889785  120.979571
std       0.336069   26.218010
min       7.400000   64.000000
25%       7.600000  102.000000
50%       7.800000  117.000000
75%       8.100000  134.000000
max       9.300000  242.000000

In [4]:
movie_ratings_ds.shape       # Returns no. of rows, no. of columns in the Dataframe

(979, 6)

In [5]:
movie_ratings_ds.dtypes     # Show the datatype of all columns

star_rating       float64
title              object
content_rating     object
genre              object
duration            int64
actors_list        object
dtype: object

In [6]:
movie_ratings_ds.describe(include=['object']) 
# top --> Record having highest frequency , freq --> No. of frequecny of the top record

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,True Grit,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6