In [1]:
import pandas as pd
import numpy as np
import os   
import glob
import shutil
import pandas as pd

# <font color=blue>Generating All Divisors

### <font color=green>Loading excel file

In [2]:
Book2 = pd.read_excel('Book2.xlsx')

In [3]:
Book2.shape

(1731, 74)

### <font color=green>Column selection and renaming

In [4]:
df = Book2[['Case Number','Surgeon Number', 'Role', 'Task Code','Task Time (min)','% Time']]

In [5]:
df.columns = df.columns.str.replace('% ','')
df.columns = df.columns.str.replace('(','')
df.columns = df.columns.str.replace(')','')
df.columns = df.columns.str.replace(' ','_')

In [6]:
df.head()

   Case_Number  Surgeon_Number Role  Task_Code  Task_Time_min        Time
0          1.0             1.0    p        0.0     295.383333  100.000000
1          1.0             1.0    p        1.0      58.000000   19.635502
2          1.0             1.0    p        2.0     111.933333   37.894262
3          1.0             1.0    p        3.0      23.216667    7.859843
4          1.0             1.0    p        4.0       0.000000    0.000000

###  <font color=green> Data types, Rounding and Row filtering

In [7]:
df.dtypes

Case_Number       float64
Surgeon_Number    float64
Role               object
Task_Code         float64
Task_Time_min     float64
Time              float64
dtype: object

In [8]:
df['Time'] = df.Time.astype(float)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [9]:
df.dtypes

Case_Number       float64
Surgeon_Number    float64
Role               object
Task_Code         float64
Task_Time_min     float64
Time              float64
dtype: object

In [10]:
df = df.round(2)

In [11]:
df = df[df.Time==100.00]

In [12]:
df['Case_Number'] = df.Case_Number.astype(int)
df['Surgeon_Number'] = df.Surgeon_Number.astype(int)

In [13]:
df['Case_Number'] = df.Case_Number.astype(str)
df['Surgeon_Number'] = df.Surgeon_Number.astype(str)

In [14]:
df.dtypes

Case_Number        object
Surgeon_Number     object
Role               object
Task_Code         float64
Task_Time_min     float64
Time              float64
dtype: object

In [15]:
df = df.drop_duplicates()

In [16]:
df.shape

(27, 6)

###  <font color=green> Creating new columns

In [17]:
df['Observation'] = df.Case_Number + '-' + df.Surgeon_Number + df.Role.str.upper()

In [18]:
df['Divisor'] = df.Task_Time_min*60

In [19]:
df.shape

(27, 8)

In [20]:
df.head()

,Case_Number,Surgeon_Number,Role,Task_Code,Task_Time_min,Time,Observation,Divisor
0,1,1,p,0.0,295.38,100.0,1-1P,17722.8
16,1,2,A,0.0,294.77,100.0,1-2A,17686.2
32,2,3,p,0.0,138.12,100.0,2-3P,8287.2
48,2,4,A,0.0,138.08,100.0,2-4A,8284.8
64,3,1,A,0.0,116.37,100.0,3-1A,6982.2

###  <font color=green> Creating dictionary

In [21]:
d = pd.Series(df.Divisor.values,index=df.Observation).to_dict()

In [22]:
d

{'1-1P': 17722.8,
 '1-2A': 17686.199999999997,
 '2-3P': 8287.2,
 '2-4A': 8284.800000000001,
 '3-1A': 6982.200000000001,
 '3-5P': 6982.799999999999,
 '4-6P': 9555.0,
 '4-7A': 9555.0,
 '5-2P': 14421.0,
 '5-3A': 14362.8,
 '6-5A': 10264.199999999999,
 '6-7P': 10231.2,
 '7-8P': 7818.000000000001,
 '7-9A': 7818.000000000001,
 '8-6A': 9154.800000000001,
 '8-10P': 9154.800000000001,
 '9-11P': 9570.0,
 '9-12A': 9571.2,
 '10-13P': 11788.8,
 '10-14A': 11773.8,
 '11-15P': 16929.0,
 '11-16A': 18859.8,
 '12-13A': 9597.0,
 '12-14P': 9600.0,
 '13-15A': 8856.0,
 '13-17P': 8854.800000000001,
 '13-18A': 8856.0}

#  <font color=blue> Divide all cells in new excel files

In [23]:
fileName = '14. Attachement of vaginal mesh.xlsx'
excelFile = pd.ExcelFile(fileName)

## <font color=red> 1st sheet

In [24]:
df1 = pd.read_excel(excelFile, sheet_name=0,nrows=1)

In [25]:
df1

,0,11-15P,11-16A,Total,%,Average
0,Posture_code,Duration(s),Duration(s),Duration(s),Total Duration,Duration(s)

####  <font color=green> Finding_out necessary columns' name

In [26]:
column_list = []

col_list_A = []
col_list_P = []

for col in df1.columns:
    c = str(col)[-1].upper()
    if c=='A':
        column_list.append(col)
        col_list_A.append(col)
    elif c=='P':
        column_list.append(col)
        col_list_P.append(col)
    else:
        None

In [27]:
df1 = pd.read_excel(excelFile, sheet_name=0).iloc[1:-1,:]

In [28]:
df1.shape

(26, 6)

In [29]:
df1 = df1[column_list]

df1_A = df1[col_list_A]
df1_P = df1[col_list_P]

In [30]:
print(df1.shape)
print(df1_A.shape)
print(df1_P.shape)

(26, 2)
(26, 1)
(26, 1)

##  <font color=orange>Divide every cell value

In [31]:
for i in column_list:
    divisor = d.get(i)
    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df1[i] = df1[i] / divisor

for i in col_list_A:
    divisor = d.get(i)
    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df1_A[i] = df1_A[i] / divisor
    
for i in col_list_P:
    divisor = d.get(i)
    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df1_P[i] = df1_P[i] / divisor

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

##  <font color=red>2nd sheet

In [32]:
df2 = pd.read_excel(excelFile, sheet_name=1,nrows=1)

In [33]:
df2

             11-15P 11-16A Total           % Average
Posture_code   Freq   Freq  Freq  Total Freq    Freq

In [34]:
column_list2 = []

col_list2_A = []
col_list2_P = []

for col in df2.columns:
    c = str(col)[-1].upper()
    if c=='A':
        column_list2.append(col)
        col_list2_A.append(col)
    elif c=='P':
        column_list2.append(col)
        col_list2_P.append(col)
    else:
        None

In [35]:
df2 = pd.read_excel(excelFile, sheet_name=1).iloc[1:-1,:]

In [36]:
df2   = df2[column_list2]

df2_A = df2[col_list2_A]
df2_P = df2[col_list2_P]

In [37]:
print(df2.shape)
print(df2_A.shape)
print(df2_P.shape)

(26, 2)
(26, 1)
(26, 1)

##  <font color=orange>Divide every cell value

In [38]:
for i in column_list2:
    divisor = d.get(i)/60
    divisor = divisor/15
    divisor = round(divisor,2)

    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df2[i] = df2[i] / divisor
    

for i in col_list2_A:
    
    divisor = d.get(i)/60
    divisor = divisor/15
    divisor = round(divisor,2)
    
    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df2_A[i] = df2_A[i] / divisor
    
for i in col_list2_P:
    
    divisor = d.get(i)
    divisor = divisor/15
    divisor = round(divisor,2)
    
    if divisor==0:
        print("Divisor is 0. Skipping the division")
        continue 
    df2_P[i] = df2_P[i] / divisor

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

### Adding row average as a new columns

In [39]:
df1['Mean']   = df1.mean(axis=1,skipna = True)
df1_A['Mean'] = df1_A.mean(axis=1,skipna = True)
df1_P['Mean'] = df1_P.mean(axis=1,skipna = True)

df2['Mean']   = df2.mean(axis=1,skipna = True)
df2_A['Mean'] = df2_A.mean(axis=1,skipna = True)
df2_P['Mean'] = df2_P.mean(axis=1,skipna = True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

### Adding column for Posture Code

In [40]:
# 1st sheet
rows = df1.shape[0]
codes = list(range(1,rows+1))

df1.insert(loc=0, column='Posture_Code', value=codes)
df1_A.insert(loc=0, column='Posture_Code', value=codes)
df1_P.insert(loc=0, column='Posture_Code', value=codes)

# 2nd sheet
rows = df2.shape[0]
codes = list(range(1,rows+1))

df2.insert(loc=0, column='Posture_Code', value=codes)
df2_A.insert(loc=0, column='Posture_Code', value=codes)
df2_P.insert(loc=0, column='Posture_Code', value=codes)

## <font color=blue> Writing Excel Files

In [41]:
newFile = fileName.split(sep='.')[0] + '_new.xlsx'

writer = pd.ExcelWriter(newFile)
df1.to_excel(writer,'Duration_all',index=False)
df1_A.to_excel(writer,'Duration_A',index=False)
df1_P.to_excel(writer,'Duration_P',index=False)

df2.to_excel(writer,'Frequency',index=False)
df2_A.to_excel(writer,'Frequency_A',index=False)
df2_P.to_excel(writer,'Frequency_P',index=False)

writer.save()